<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Relatório por unidade</title>
</head>
<body>
	<section  layout:fragment="corpo">
		<div class="container border border-dark bg-white">
			<h1>Relatório de contratos por unidade</h1>
			
			<form th:action="@{/relatorio/unidade/gerar}" target="_blank"  method="get">
				<div class="form-row">
					<div class="form-group col-md-3">
						<label for="tipocontrato">Tipo Contrato</label>
						<select class="form-control form-control-sm " id="tipoContrato" name="tipoContrato" >
							<option label="Todos" value=""></option>
							<option th:each="t : ${tiposContrato}" th:value="${t.id}" th:text="${t.tipo}"></option>
						</select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-4">
						<label for="centrocusto">Centro de Custo</label>
						<select class="form-control form-control-sm" id="centrocusto" name="centroDeCusto" >
							 <option label="Todos" value=""></option>
		              		<option th:each="c : ${centrocusto}" th:value="${c.id}" th:text="${c.codigo + ' - ' + c.descricao}"></option>
						</select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-2">
						<label for="dataInicio">Data início</label> 
						<input id="dataInicio" class="form-control form-control-sm" type="date" name="dataInicio"/>
					</div>
					<div class="form-group col-md-2">
						<label for="dataFim">Data fim</label> 
						<input id="dataFim" class="form-control form-control-sm" type="date" name="dataFim"/>
					</div>
				</div>
				<div  class="form-row">
					<div class="form-group col-md-2">
						<label for="cnpjcpfnum">CNPJ</label>
						<input class="form-control form-control-sm" type="text" id="" name="cnpj" />
					</div>
				</div>
				
				<button type="submit"  class="btn btn-primary" >Gerar</button>
				<hr/>
			</form>
		</div>
		
	</section>
</body>
</html>