<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Contratual - Relatório por entidade</title>
<link rel="icon" th:href="@{/img/cont.ico}" />
<!-- Bootstrap core CSS -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
	<div class="container">
	<h1>Relatório de quantidade e valores por entidade</h1>
	<hr/>
	<div th:if="${tipoC.tipo != null}" th:text="'Tipo contrato: ' + ${tipoC.tipo}"></div>
	<div th:if="${tipoE != null}" th:text="'Tipo entidade: ' + ${tipoE.descricao}"></div>
	<div th:if="${unid.nome != null}" th:text="'Unidade: ' + ${unid.nome}"></div>
	<div th:if="${centroC.descricao != null}" th:text="'Centro de custo: ' + ${centroC.codigo} + ' - ' + ${centroC.descricao}"></div>
	<div th:if="${cnpjc != ''}" th:text="'CNPJ: ' + ${cnpjc}"></div>
	<div th:if="${dataI != null}" >
		<span th:text="'Data início: ' +  ${#temporals.format(dataI, 'dd/MM/yyyy')}" ></span>
	</div>
	<div th:if="${dataF != null}" >
		<span th:text="'Data fim: ' +  ${#temporals.format(dataF, 'dd/MM/yyyy')}"></span>
	</div>
	<table class="table table-sm">
				<thead class="thead-light">
					<tr>
						<th>Entidade</th>
						<th>F/C</th>
						<th>Tipo</th>
						<th>Quantidade</th>
						<th>Valor</th>
					</tr>
				</thead>
				<!-- 
				 -->
				<tbody  >
					
					<tr th:each="r : ${resultado}" >
						<td  th:text="${r.get(0)}"></td>
						<td align="center" th:text="${r.get(1)}"></td>
						<td th:text="${r.get(2)}"></td>
						<td align="center" th:text="${r.get(3)}"></td>
						<td align="right"><span th:text="${#numbers.formatDecimal(r.get(4), 3 , 'POINT',2,'COMMA')}">10.00</span></td>
					</tr>
				</tbody>
			</table>
	</div>
</body>
</html>