<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Contratual - Relatório por unidade</title>
<link rel="icon" th:href="@{/img/cont.ico}" />
<!-- Bootstrap core CSS -->
<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
	
	<div class="container">
	<h1>Relatório de quantidade e valores por unidade</h1>
	<hr/>
	<div th:if="${tipoC.tipo != null}" th:text="'Tipo contrato: ' + ${tipoC.tipo}"></div>
	<div th:if="${centroC.descricao != null}" th:text="'Centro de custo: ' + ${centroC.descricao}"></div>
	<div th:if="${cnpjc != ''}" th:text="'CNPJ: ' + ${cnpjc}"></div>
	<div th:if="${dataI != null}" >
		<span th:text="'Data início: ' +  ${#temporals.format(dataI, 'dd/MM/yyyy')}" ></span>
	</div>
	<div th:if="${dataF != null}" >
		<span th:text="'Data fim: ' +  ${#temporals.format(dataF, 'dd/MM/yyyy')}"></span>
	</div>
	<hr/>
	<table class="table table-sm  table-hover">
				<thead class="thead-light">
					<tr>
						<th>Unidade</th>
						<th>Quantidade</th>
						<th>Valor</th>
					</tr>
				</thead>
				<tbody  >
					
					<tr th:each="r : ${resultado}" >
						<td th:text="${r.get(0)}"></td>
						<td th:text="${r.get(1)}"></td>
						<td  ><span th:text="${#numbers.formatDecimal(r.get(2), 1 , 'POINT',2,'COMMA')}">10.00</span></td>
					</tr>
				</tbody>
			</table>
	</div>

</body>
</html>